
#contenedor-principal3 {
    margin-left: 20% !important;
    width: 80% !important;
    justify-content: center;
    align-items: center;
    background: white;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    height: 100%;
    transition-duration: 0.1s;
  }
  
  #contenedor-expandido4 {
    margin-left: 2% !important;
    width: 96% !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.63) !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    background: white !important;
    transition-duration: 0.3s;
  }
  
  input {
    z-index: 9999;
  }
  
  .registro-input {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #000000 !important;;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    z-index: auto;
  }
  
  .registro-input:hover {
    border: 1px solid #8bc3a3;
  }
  
  .registro-input:focus {
    color: white;
    outline: none;
    border: 1px solid #8bc3a3;
  }
  
  h5 {
    padding: 5px;
    text-align: start;
    width: auto;
    font-weight: bold;
    height: 20px;
    font-size: 14px;
  }
  
  .row {
    padding-left: 0px !important;
    margin: 0px !important;
  }
  
  .btn-success {
    padding: 2px 2px !important;
      font-size: 15px !important;
      text-align: center !important;
      cursor: pointer !important;
      color: white !important;
      border-color: rgb(223, 219, 219) !important;
      background-color: #dee2e6 !important;
      border-radius: 10px !important;
      margin-top: 13px !important;
   
  }
  
  span {
    width: 0px;
  }
  
  .titulo > * {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .modal {
    z-index: 9999;
  }
  
  #modal2 {
    z-index: 9999;
  }
  
  .makeStyles >{
    z-index: 9999;
  }
  
  input{
    height: 18px;
  }
  
  .foc{
    visibility: hidden !important;
  }
  
  .dropdowncustom {
    display: flex !important;
    padding: 0px !important;
    
  }
  .row>* {
   
    max-width: 100% !important;
    padding-left: 0px !important;
   
  }
  
   #botonclase{
    padding: 20px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    text-align: center !important;
    padding-right: 31px !important;
    background-color: rgb(89, 201, 176) ;
   }
  
   .cajita {
    margin: 0px 0px 0px 5px !important;
    border: 2px solid !important;
    border-color: rgb(89, 201, 176) !important;
    height: 30px !important;
    width: 39px !important;
    border-radius: 5px;
    background-color: rgb(89, 201, 176) !important;
  }
   
   .btn-primary {
    color: rgb(14, 13, 13) !important;
    background-color: rgb(89, 201, 176) !important;
    border-color: rgb(89, 201, 176)  !important;
  }  
  
    .MuiButton-text {
    background-color:rgb(89, 201, 176) !important;
    padding: 6px 8px;
  }  
  
  .codcli{
    padding: 0px !important;
    width: auto !important;
    font-weight: bold;
    height: 27px !important;
    font-size: 28px !important;
    margin: 0px 0px 0px 51px !important;
  }

  
.subrayado {
  color: green !important;
  text-decoration:none !important;
  
}
#contenedor-principal > form > div:nth-child(2) > div.col-2 > div > div > div > div > div > div > ul {
  
  height: 250px !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
  width: auto !important;
}
.fa-info-circle:hover {
color: blue;
}
#question {
  display: flex !important;
  color: rgb(89, 201, 176);
  justify-content: center !important;
  align-items: center !important;
  

  font-size: 13px;
  padding-left: 6px;
 
  padding-bottom: 24px !important;
}
.question2 {
     left: 77px;
     color: rgb(89, 201, 176);
     top: 46px;
     font-size: 12px;
     position: center;
     z-index: 9;
}

/* css de datos bancarios */

.casilla {
  margin: 0px 0px 0px 0px !important;
 
  

}
.casilla2 {
  margin: 0px 0px 0px 72px !important;
 position: absolute;

 

}
.casilla3{
  margin: 0px 0px 0px 142px !important;
  position: absolute;
  

 

}
.casilla4 {
  margin: 0px 0px 0px 211px !important;
  position: absolute;

 
 
}

.projojur1{
  margin: -15px 0px -4px  236px;
  color: red;
}
.projojur2{
  margin: -13px 0px -2px  139px;
  color: red;
}
.projojur3{
  margin: -13px 0px -2px  49px;
  color: red;
}
.projojur4{
  margin: -13px 0px -2px  100px;
  color: red;
}
.projojur5{
  margin: -13px 0px -2px  215px;
  color: red;
}

/* .codcli2 {
    padding: 0px !important;
    width: auto !important;
    font-weight: bold;
    height: 27px !important;
    font-size: 28px !important;
    margin: 0px 0px 0px 12% !important;
}

#contenedor-principal {
    margin-left: 20% !important;
    width: 80% !important;
    justify-content: center;
    align-items: center;
    background: white;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    height: 100%;
    transition-duration: 0.1s;
  }
  
  #contenedor-expandido2 {
    margin-left: 2% !important;
    width: 96% !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.63) !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    background: white !important;
    transition-duration: 0.3s;
  }

  .cajita {
    border: 2px solid !important;
    border-color: rgb(89, 201, 176)  !important;
    height: 30px !important;
    width: 33px !important;
    border-radius: 5px;
    background-color: rgb(89, 201, 176) !important;
  } */