#contenedor-principal > form > div:nth-child(11) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div.col-4 > input {
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}

#contenedor-principal > form > div:nth-child(12) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}
#contenedor-principal > form > div:nth-child(13) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}
#contenedor-principal > form > div:nth-child(14) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}
#contenedor-expandido2 > form > div:nth-child(11) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div.col-4 > input {
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}

#contenedor-expandido2 > form > div:nth-child(12) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}
#contenedor-expandido2 > form > div:nth-child(13) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}
#contenedor-expandido2 > form > div:nth-child(14) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}

#contenedor-principal > form > div:nth-child(17) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}
#contenedor-principal > form > div:nth-child(18) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}
#contenedor-principal > form > div:nth-child(19) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 80% !important;
}

#contenedor-expandido2 > form > div:nth-child(17) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}
#contenedor-expandido2 > form > div:nth-child(18) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}
#contenedor-expandido2 > form > div:nth-child(19) > div > div > div > div > div > div.row.py-2.d-flex.justify-content-center.align-items-center.align-self-center > div:nth-child(1) > input{
    font-size: small !important;
    height: auto !important;
    width: 77% !important;
}

.selectar{
    z-index: 0;
    height: auto !important;
}