.block {
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
  }
  
  img {
    max-width: 250px;
    border-radius: 10px;
  }

  .block-image {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 250px; /* Ajusta la altura según tus preferencias */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
    border-radius: 10px;
  }