#layout-tutorial {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-gap: 5px;
    grid-template-areas: 
        "code instructions"
        "terminal terminal";
    margin: 0;
}

  #pre {
    grid-area: code;
    margin: 0; /* Eliminar el margen predeterminado del textarea */
    padding: 20px;
    background-color: #2E2E2E;
    color: #FFFFFF;
    /* overflow: auto; */
    height: 100%;
  }

  code {
    color: #ccc;
  }

  textarea {
    width: 100%;
    height: 100%;
    min-height: 500px;
    resize: none; /* Para desactivar la capacidad de redimensionar */
    border: none; /* Para eliminar el borde predeterminado */
    background: transparent; /* Fondo transparente para que el color de fondo del contenedor se vea */
    color: inherit; /* Heredar el color de texto del contenedor */
    font-family: inherit; /* Heredar la fuente del contenedor */
    box-sizing: border-box;
  }

  #instructions {
    grid-area: instructions;

    padding: 20px;
    background-color: #f5f5f5;
    color: #202020; 
  }

  #terminal {
    grid-area: terminal;
    /* grid-row: 2 / 3;
    grid-column: 2 / 3; */
    padding: 20px;
    background-color: #000000;
    color: #00FF00;
    overflow: auto;    
  }

  #contextMenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 999;
    cursor: pointer;
  }
  
  #contextMenu div {
    padding: 8px;
    user-select: none;
  }
  
  #contextMenu div:hover {
    background-color: #f1f1f1;
  }

  #languageDropdown {
    padding: 8px;
    font-size: 16px;
  }

  .code-line-comment {
    color: green; /* Color verde para líneas que comienzan con # */
  }